[Unit]
Description=Camera Controller
After=multi-user.target

[Service]
User=camera
WorkingDirectory=/home/camera/projects
ExecStart=/usr/bin/java -jar /home/camera/projects/cameraController-1.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
Type=simple
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
