[Unit]
Description=Camera Controller
After=multi-user.target

[Service]
User=pi-camera
WorkingDirectory=/home/pi-camera/projects
ExecStart=/usr/bin/java -jar cameraController-1.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
Type=simple
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target
